body {
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    background-color: black;
    padding: 2.5rem 1rem 0 1rem;
    display: grid;
    min-height: 400px;
    width: 300px;
}

.buttons {
    display: grid;
    height: 300px;
    width: 300px;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.clear {
    color: black;
    transition: background-color 0.8s ease;
    background-color: rgb(186, 186, 186);
}

.clear:hover {
    background-color: rgba(186, 186, 186, 0.8);
}


.number, .dot {
    transition: background-color 0.8s ease;
    background-color: rgb(72, 74, 79);
}
.number:hover,
.dot:hover {
    background-color: rgb(72, 74, 79, 0.8);
}

.operator,
#equal {
    transition: background-color 0.8s ease;
    background-color: rgb(255, 174, 0);
}

.operator:hover,
#equal:hover {
    background-color: rgba(255, 174, 0, 0.8);
}

.display {
    text-align: right;
    height: 90%;
    color: white;
    font-size: 30px;
}



